@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../font/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}
html, body {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.2;
    word-break: keep-all;
}
.wrapper {
    width: 1280px; 
    margin: 0 auto; 
}
/* 브라우저 사이즈 640px이하일때만 적용되는 스타일
1. pc와 선택자가 동일해야함. 선택자가 달라지면 css 우선순위가 변경되어 적용되지 않을 수 도 있음
2. 모바일은 pc버전 스타일을 그대로 상속 받기 때문에 변경되는 부분만 스타일을 적용해야 한다.
3. 모바일 스타일은 pc스타일 아래 선언되어야 한다. css는 위에서 아래로 순차적으로 적용됨.
*/
@media screen and (max-width:640px){
    html, body {
        font-size: 13px; 
    }
    .wrapper {
        width: auto; /* 넓이값 준 넓이값 해제(취소) - block 요소라면 넓이가 100%가 됨 */
        margin: 0 20px; /* 모바일에서는 좌우에 20px를 준다. */ 
    }
    #wrap { 
        min-width: 320px; /* 모바일 최소사이즈 */    
    }
}  /* midia */  
#wrap { /* id="wrap"에 적용되는 스타일*/
    min-width: 1280px;    
}
* { 
    padding: 0; /* 모든 태그의 여백 삭제 */
    margin: 0;
    box-sizing: border-box;
    /* padding 하고 border 넓이를 늘리는 요소인데 넓이를 늘리지 않도록 하는 속성 */
}
a { /* a태그는 파란색에 underline이 기본적으로 생성됨*/
    text-decoration: none; /*underline 제거*/
    color: inherit;
    /* 색상은 상속받아 - 파란색 말고 누군가가 상속해준 스타일을 적용*/
}
ul, ol, li {
    list-style: none; /*ul li앞에 동그라미 삭제*/
}
address, em {
    /* em태그와 address태그는 기본적으로 이텔릭체임 
       디자인상 이텔릭을 사용하기 위해서 쓰지 않음 - 최근 이텔릭체를 디자인 하지 않음
       그래서 태그에 있는 기본 이텔릭을 초기화함*/
    font-style: normal;
}
/* 글자를 두껍게하고 글자 크기를 조정하는 태그 -
    body 태그가 선언한 속성대로 적용될 수 있게 초기화
    브라우저가 기본적으로 적용한 스타일이 적용되지 않도록 막음 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
}
/* button태그는 기본 스타일이 많음*/
button {
    background-color: transparent; /*배경투명*/
    border: 0; /* 테두리 삭제 */
    color: inherit; /* 브라우저가 주는 값 삭제 */
    font-family: inherit; /* button은 서체도 바뀜 - 상속 */
}

.notice {
    margin-top: 80px;
}
.notice h2 {
    font-size: 50px;
    font-weight: 700;
    color: #666;
    line-height: 1.2;
    margin-bottom: 22px;
}
.notice h2 strong {
    color: #1d1d1d;
}
.notice ul {
    display: flex;
    justify-content: space-between;
}
.notice ul li {
    width: 299px;
}
/* a태그 안에 많은 요소들이 들어가면 display를 주는게 좋음*/
.notice ul li a {
    display: block;
}
.notice ul li a strong {
    display: block; /* 제목은 strong, 날짜는 span으로 - 디자인상 줄바꿈 필요
    이때 display:block; 각 요소가 block요소로 변경되어 둘이 한줄에 나타나지 않음*/
    font-size: 20px;
    color: #1d1d1d;
    margin: 12px 0;
}
.notice ul li a span {
    display: block;
    color: #666;
}
.notice .notice_wrap {
    position: relative
    /* more 정렬의 중심*/
}
.notice .more {
    position: absolute;
    right: 0;
    top: 60px;
}

.notice .more a {
    border: 1px solid #999;
    border-radius: 30px; /*높이의 절반*/
    line-height: 51px;
    /* 버튼은 line-height의 높이를 갖고 글자도 위아래 가운데 정렬함*/
    padding: 0 39px;
    display: block;
}
/* a태그에 마우스를 오버했을때 */
.notice .more a:hover {
    background-color: #3d3d3d;
    color: #fff;
}

@media screen and (max-width:640px){
    .notice {
        margin-top: 50px;
    }
    .notice h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .notice ul {
        display: block;
        justify-content: space-between;
        /* display:flex를 해제하는 방법은 display:block
        block요소로 변경하기 때문에 문제가 있다면 inline-block 또는 inline으로도 가능 */
    }
    .notice ul li {
        width: auto;
        /* 넓이값을 지우고 원래 속성대로 넓이를 갖게하는 값 = width:auto */
        margin-bottom: 20px;
    }
    /* a태그 안에 많은 요소들이 들어가면 display를 주는게 좋음*/
    .notice ul li a {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        /* 왼쪽에 이미지, 오른쪽에 글자가 배치되도록 display:flex 
        display:flex는 좌우 요소의 높이를 동일하게 하려는 특징이 있음
        그래서 이미지가 오른쪽 글자에 맞춰서 늘어남
        이 현상을 막으려면 align-items: flex-start를 줘야함*/
    }
    .notice ul li a img {
        width: 96px;
        /* 이미지 크기를 조정하려면 반드시 img에 width/height를 줘야함. 감싸는 요소에 줘도 안들어감.
        감싸는 요소에 줘도 안들어감. 넓이나 높이 하나만 줘도 나머지는 알아서 비율에 맞게 적용
        그래서 넓이나 높이 하나만 줌. 둘 다 주면 비율이 깨짐
        */
    }
    /* 왼쪽에 이미지와 여백은 고정값, 오른쪽 글자는 브라우저 사이즈에 따라서 늘어났다가 줄어듬
        그러면 전체 넓이 100%에서 왼쪽 이미지넓이 + 여백은 뺀 값이 글자의 넓이가 됨.*/
    .notice ul li a .inner {
        width: calc(100% - 112px);
    }
    .notice ul li a strong {
        font-size: 15px;
        color: #1d1d1d;
        margin: 0 0 3px 0;
        /* 제목을 무조건 2줄로 제한 */
        line-height: 1.2;
        height: 2.4em; /* 행간의 *2 한 값에 단위는 em */
        overflow: hidden; 
        /* 높이를 제한했기 때문에 높이에서 벗어나는 글자는 숨김 */
    }
    .notice .more {
        /* absolute를 해제하고 원래 코딩순서대로 아래에 배치*/
        position: relative;
        right: auto; /* right, top 해제는 auto */
        top: auto;
        margin: 35px 0 0 0;
        text-align: center;
        /* width가 넓은 요소(block)dptj ㅑㅟㅑㅜㄷdythfmf rkdnsep wjdfuf
        text-align:center */
    }   
    .notice .more a {
        border-radius: 20px; /*높이의 절반*/
        line-height: 37px;
        padding: 0 35px;
        display: inline-block;
    }
}