@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 이찬우
    작성일 : 2024.03.20
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
@media screen and (max-width:1600px){
    section .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
}
@media screen and (max-width:1320px){
    section .wrapper {
        width: auto;
        margin: 0 100px;
    }
}
@media screen and (max-width:1024px){
    section .wrapper {
        margin: 0 20px 0 150px ;
    }
}
@media screen and (max-width:768px){
    section .wrapper {
        margin: 0 20px;
    }
}

.visual, 
.visual .swiper, 
.visual ul li .photo {
    height: 100vh; /* 팝업의 높이제어 */
}
/* visual 이미지가 보일때 애니메이션 작동 */
.visual ul li.swiper-slide-active .photo img {
    animation-name: visual_img;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes visual_img { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:scale3d(1.2, 1.2, 1) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:scale3d(1, 1, 1) } /* 애니메이션이 종료될때의 속성 */
}
.visual ul li.swiper-slide-active .tit h2,
.visual ul li.swiper-slide-active .tit p {
    animation-name: visual_tit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
.visual ul li.swiper-slide-active .tit p {
    animation-delay: 0.3s;
}
@keyframes visual_tit { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:translate(0, 50px); opacity: 0; }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:translate(0, 0); opacity: 1; } /* 애니메이션이 종료될때의 속성 */
}

.visual ul li .tit {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 1280px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.visual ul li .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 23px;
}
.visual ul li .tit a {
    display: inline-block;
    margin-top: 23px;
    padding: 12px 63px;
    border: 2px solid #fff;
    border-radius: 25px;
}
.visual ul li .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .paging {
    position: absolute;
    left: 13%;
    bottom: 80px;
    z-index: 11;
    color: #FFF;
    font: 100px;
    font-weight: 700;
    display: flex;
}
.visual .paging > span {
    display: block;
    width: 25%;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    opacity: 1;
    border-radius: 0;
    margin: 0;
}
.visual .paging > span > span {
    position: absolute;
    left: 0;
    top: -25px;
    color: rgba(255, 255, 255, 0.5);
}
/* 현재 팝업이 활성화 되었을때 */
.visual .paging > span.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .paging > span.swiper-pagination-bullet-active > span {
    color: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.visual .paging .page1 span::before {
    content: "생명의숲은";
}
.visual .paging .page2 span::before {
    content: "그린짐 참여신청";
}
.visual .paging .page3 span::before {
    content: "후원안내";
}
@media screen and (max-width:1320px){
    .visual ul li .tit {
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 200px);
    }
    .visual ul li .tit h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .visual ul li .tit p {
        font-size: 15px;
    }
    .visual ul li .tit a {
        display: inline-block;
        margin-top: 23px;
        padding: 12px 63px;
        border: 2px solid #fff;
        border-radius: 25px;
    }
    .visual .paging {
        bottom: 60px;
    }
}
@media screen and (max-width:768px){
    .visual ul li .tit {
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
    }
    .visual ul li .tit h2 {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0 5%;
    }
    .visual ul li .tit p {
        font-size: 13px;
        padding: 0 5%;
    }
    .visual .paging {
        left: 0;
        justify-content: center;
    }
    .visual .paging > span {
        display: flex;
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }
    .visual .paging span::before {
        font-size: 0;
        line-height: 0;
    }
}

aside.quick {
    position: fixed;
    right: 50px;
    bottom: 85px;
    z-index: 100;
}
aside.quick ul li {
    margin-top: 10px;
}
aside.quick ul li a {
    width: 70px;
    height: 70px;
    display: block;
    font-size: 13px;
    border-radius: 35px;
    background-color: #7993A0;
    color: #fff;
    padding-top: 38px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
aside.quick ul li.top a {
    background-color: #285841;
}
aside.quick ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 47px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
aside.quick ul li.donation a::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0049 4.00293C18.08 4.00293 23.0049 6.68922 23.0049 10.0029V14.0029C23.0049 17.3167 18.08 20.0029 12.0049 20.0029C6.03824 20.0029 1.18114 17.4117 1.00957 14.1799L1.00488 14.0029V10.0029C1.00488 6.68922 5.92975 4.00293 12.0049 4.00293ZM12.0049 16.0029C8.28443 16.0029 4.99537 14.9955 3.00466 13.4534L3.00488 14.0029C3.00488 15.8851 6.88751 18.0029 12.0049 18.0029C17.0156 18.0029 20.8426 15.9725 20.9999 14.1209L21.0049 14.0029L21.0061 13.4526C19.0155 14.9951 15.726 16.0029 12.0049 16.0029ZM12.0049 6.00293C6.88751 6.00293 3.00488 8.12072 3.00488 10.0029C3.00488 11.8851 6.88751 14.0029 12.0049 14.0029C17.1223 14.0029 21.0049 11.8851 21.0049 10.0029C21.0049 8.12072 17.1223 6.00293 12.0049 6.00293Z' fill='white'/%3E%3C/svg%3E%0A");}
aside.quick ul li.my a::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 7.26214 17.9831 7.5207 17.9504 7.77457C19.77 8.80413 21 10.7575 21 13C21 16.3137 18.3137 19 15 19H13V22H11V19H8.5C5.46243 19 3 16.5376 3 13.5C3 11.2863 4.30712 9.37966 6.19098 8.50704C6.06635 8.02551 6 7.52039 6 7ZM7.00964 10.3319C5.82176 10.8918 5 12.1008 5 13.5C5 15.433 6.567 17 8.5 17H15C17.2091 17 19 15.2091 19 13C19 11.3056 17.9461 9.85488 16.4544 9.27234L15.6129 8.94372C15.7907 8.30337 16 7.67183 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 8.30783 8.6266 9.46903 9.60019 10.2005L8.39884 11.7995C7.85767 11.3929 7.38716 10.8963 7.00964 10.3319Z' fill='white'/%3E%3C/svg%3E%0A");}
aside.quick ul li.youtube a::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_115)'%3E%3Cpath d='M24 5.32676C24 2.38161 21.6398 0 18.7359 0H5.26409C2.36022 0 0 2.38832 0 5.32676V11.6665C0 14.6117 2.36022 16.9933 5.26409 16.9933H18.7293C21.6398 16.9933 23.9934 14.605 23.9934 11.6665V5.32676H24ZM16.0773 8.97632L10.0376 12.002C9.79889 12.1294 8.99669 11.955 8.99669 11.6867V5.48106C8.99669 5.206 9.80552 5.03157 10.0442 5.16575L15.8254 8.3457C16.0707 8.48658 16.3227 8.84215 16.0773 8.97632Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_115'%3E%3Crect width='24' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
aside.quick ul li.top a::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9999 7.82843V20H10.9999V7.82843L5.6359 13.1924L4.22168 11.7782L11.9999 4L19.7781 11.7782L18.3639 13.1924L12.9999 7.82843Z' fill='white'/%3E%3C/svg%3E%0A");}

@media screen and (max-width:1320px){
    aside.quick {
        position: fixed;
        right: 25px;
        bottom: 50px;
        z-index: 100;
    }
    aside.quick ul li a {
        width: 60px;
        height: 60px;
        font-size: 13px;
        border-radius: 30px;
        padding-top: 33px;
    }
    aside.quick ul li a::before {
        height: 38px;
    }
}
@media screen and (max-width:1024px){
    aside.quick {
        display: none;
    }
}

.tree {
    background: url(../images/main/tree_bg.png) no-repeat center center / cover;
}
.tree .inner {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 200px;
}

.tree .num {
    display: block;
}
.tree .num strong {
    font-size: 128px;
    font-weight: 700;
    color: #007242;
}
.tree h2 {
    margin: 0 0 -30px -45px;;
}
.tree p {
    margin: 119px 0 0 0;
}
.tree .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:768px){
    .tree {
        min-height: auto !important;
    }
    .tree .inner {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 200px;
    }
    .tree .num strong {
        font-size: 60px;
        font-weight: 700;
        color: #007242;
    }
}

.biz {
    background-color: #003C62;
    color: #fff;
}
.biz .wrapper {
    padding: 30px 0;
}
.biz .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.biz .tit {
    width: 40%;
}
.biz .tit h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.biz .list {
    width: 50%;
    padding: 40px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.biz .list ul li {
    width: calc(50% - 14px);
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
    color: #1d1d1d;
    margin-bottom: 28px;
    transition: 0.5s;
    overflow: hidden;
}
.biz .list ul li:hover {
    color: #fff;
}
.biz .list ul li:nth-child(odd){ /* 홀수 */
    transform: translate(0, 30px);
}

.biz .list ul li a {
    display: block;
    height: 220px;
    padding: 148px 0 0 29px;
    font-size: 35px;
    font-weight: 700;
    position: relative;
}
.biz .list ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li.biz01 a::before {background-image: url(../images/main/biz01.png);}
.biz .list ul li.biz02 a::before {background-image: url(../images/main/biz02.png);}
.biz .list ul li.biz03 a::before {background-image: url(../images/main/biz03.png);}
.biz .list ul li.biz04 a::before {background-image: url(../images/main/biz04.png);}
.biz .list ul li.biz05 a::before {background-image: url(../images/main/biz05.png);}
.biz .list ul li.biz06 a::before {background-image: url(../images/main/biz06.png);}
.biz .list ul li a:hover::before {opacity: 1; }

.biz .list ul li a span {
    position: relative; /* before와 after */
}
.biz .list ul li a span::before {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 90px;
    height: 90px;
    content: "";
    background-position: left bottom;
    background-repeat: no-repeat;
}
.biz .list ul li.biz01 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_887)'%3E%3Cpath d='M88.046 86.113H80.5559V57.8571C85.796 56.9601 89.9852 52.3256 89.9852 46.794C89.9852 40.6644 84.8931 35.5814 78.75 35.5814C72.6069 35.5814 67.5148 40.6644 67.5148 46.794C67.5148 52.3256 71.5559 56.9601 76.9441 57.8571V86.113H63.6217V74.6013C66.9227 73.7043 69.3059 70.8638 69.3059 67.4252C69.3059 63.2392 66.0049 59.9502 61.8158 59.9502C57.6266 59.9502 54.3257 63.2392 54.3257 67.4252C54.3257 70.8638 56.7237 73.8538 60.0099 74.6013V86.113H48.6266V33.6379C57.0049 32.7409 63.6069 25.5648 63.6069 16.8937C63.6069 7.62459 56.1168 0 46.6875 0C37.2582 0 29.7681 7.47508 29.7681 16.8937C29.7681 25.5648 36.3553 32.7409 44.7484 33.6379V86.113H31.574V74.6013C34.875 73.7043 37.2582 70.8638 37.2582 67.4252C37.2582 63.2392 33.972 59.9502 29.7681 59.9502C25.5641 59.9502 22.278 63.2392 22.278 67.4252C22.278 70.8638 24.676 73.8538 27.9622 74.6013V86.113H12.9819V57.8571C18.222 56.9601 22.4112 52.3256 22.4112 46.794C22.4112 40.6644 17.3191 35.5814 11.176 35.5814C5.03289 35.5814 0 40.6644 0 46.794C0 52.3256 4.04112 56.9601 9.42928 57.8571V86.113H1.95395C0.902961 86.113 0 87.01 0 88.0565C0 89.103 0.902961 90 1.95395 90H88.0609C89.1118 90 90.0148 89.103 90.0148 88.0565C89.8668 87.01 88.9638 86.113 88.0609 86.113H88.046ZM71.1266 46.9435C71.1266 42.7575 74.4276 39.4684 78.6168 39.4684C82.8059 39.4684 86.1069 42.7575 86.1069 46.9435C86.1069 50.3821 83.7089 53.3721 80.4227 54.1196V50.6811C80.4227 49.6346 79.5197 48.7375 78.4836 48.7375C77.4474 48.7375 76.5296 49.6346 76.5296 50.6811V54.1196C73.5395 53.2226 71.1414 50.3821 71.1414 46.9435H71.1266ZM58.1003 67.4252C58.1003 65.3322 59.7434 63.6877 61.8454 63.6877C63.9474 63.6877 65.5905 65.3322 65.5905 67.4252C65.5905 68.7708 64.8355 69.9668 63.6513 70.7143V69.3688C63.6513 68.3223 62.7484 67.4252 61.6974 67.4252C60.6464 67.4252 59.7434 68.3223 59.7434 69.3688V70.7143C58.8405 69.9668 58.1003 68.7708 58.1003 67.4252ZM33.6908 17.0432C33.6908 9.86711 39.5378 3.88704 46.8651 3.88704C54.1924 3.88704 60.0395 9.71761 60.0395 17.0432C60.0395 23.6213 55.0954 29.1528 48.8043 30.0498V20.7807C48.8043 19.7342 47.9013 18.8372 46.8503 18.8372C45.7993 18.8372 44.8964 19.7342 44.8964 20.7807V30.0498C38.6053 29.0033 33.6612 23.6213 33.6612 17.0432H33.6908ZM26.2007 67.4252C26.2007 65.3322 27.8437 63.6877 29.9457 63.6877C32.0477 63.6877 33.6908 65.3322 33.6908 67.4252C33.6908 68.7708 32.9359 69.9668 31.7516 70.7143V69.3688C31.7516 68.3223 30.8487 67.4252 29.7977 67.4252C28.7467 67.4252 27.8586 68.3223 27.8586 69.3688V70.7143C26.9556 69.9668 26.2155 68.7708 26.2155 67.4252H26.2007ZM3.74507 46.9435C3.74507 42.7575 7.04605 39.4684 11.2352 39.4684C15.4243 39.4684 18.7253 42.7575 18.7253 46.9435C18.7253 50.3821 16.3273 53.3721 13.0411 54.1196V50.6811C13.0411 49.6346 12.1382 48.7375 11.102 48.7375C10.0658 48.7375 9.14803 49.6346 9.14803 50.6811V54.1196C6.15789 53.2226 3.75987 50.3821 3.75987 46.9435H3.74507Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_887'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz02 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_867)'%3E%3Cpath d='M88.046 86.1065H46.8651V64.8419C65.5905 55.4077 64.5395 56.0067 64.9836 55.7072C66.6266 57.2047 68.8766 58.1032 71.2747 58.1032C76.3668 58.1032 80.7039 53.9102 80.7039 48.6689C80.7039 43.4276 76.5148 39.2346 71.2747 39.2346C66.0345 39.2346 61.8454 43.4276 61.8454 48.6689C61.8454 50.1664 62.1414 51.5141 62.7484 52.7122L46.8799 60.6489V38.6356C65.4424 29.3511 64.5543 29.8003 64.9984 29.5008C66.6414 30.9983 68.8914 31.8968 71.2895 31.8968C76.3816 31.8968 80.7187 27.7038 80.7187 22.4626C80.7187 17.2213 76.5296 13.0283 71.2895 13.0283C66.0493 13.0283 61.8602 17.2213 61.8602 22.4626C61.8602 23.9601 62.1563 25.3078 62.7632 26.5058L46.8947 34.4426V18.5691C51.0839 17.6705 54.3849 13.9268 54.3849 9.43428C54.3849 4.34276 50.1957 0 44.9556 0C39.7155 0 35.5263 4.19301 35.5263 9.43428C35.5263 13.9268 38.8273 17.6705 43.0164 18.5691V45.6739L27.148 37.7371C27.7401 36.5391 28.051 35.1913 28.051 33.6938C28.051 28.6023 23.8618 24.2596 18.6217 24.2596C13.3816 24.2596 9.19243 28.4526 9.19243 33.6938C9.19243 38.9351 13.3816 43.1281 18.6217 43.1281C21.0197 43.1281 23.1217 42.2296 24.9128 40.7321C25.3569 41.0316 24.3207 40.5824 43.0312 49.8669V71.8802L27.1628 63.9434C27.7549 62.7454 28.0658 61.3977 28.0658 59.9002C28.0658 54.8087 23.8766 50.4659 18.6365 50.4659C13.3964 50.4659 9.20724 54.6589 9.20724 59.9002C9.20724 65.1414 13.3964 69.3344 18.6365 69.3344C21.0345 69.3344 23.1365 68.4359 24.9276 66.9384C25.3717 67.2379 24.4836 66.7887 43.0461 76.0732V86.1065H1.93914C0.888158 86.1065 0 87.005 0 88.0532C0 89.1015 0.90296 90 1.93914 90H88.046C89.097 90 89.9852 89.1015 89.9852 88.0532C89.8372 87.005 88.9342 86.1065 88.046 86.1065ZM71.1266 43.1281C74.2648 43.1281 76.8109 45.6739 76.8109 48.8186C76.8109 51.9634 74.2648 54.5092 71.1266 54.5092C67.9885 54.5092 65.4424 51.9634 65.4424 48.8186C65.4424 45.6739 67.9885 43.1281 71.1266 43.1281ZM71.1266 16.9218C74.2648 16.9218 76.8109 19.4676 76.8109 22.6123C76.8109 25.7571 74.2648 28.3028 71.1266 28.3028C67.9885 28.3028 65.4424 25.7571 65.4424 22.6123C65.4424 19.4676 67.9885 16.9218 71.1266 16.9218ZM18.7105 39.3844C15.5724 39.3844 13.0263 36.8386 13.0263 33.6938C13.0263 30.5491 15.5724 28.0033 18.7105 28.0033C21.8487 28.0033 24.3947 30.5491 24.3947 33.6938C24.3947 36.8386 21.8487 39.3844 18.7105 39.3844ZM18.7105 65.5907C15.5724 65.5907 13.0263 63.0449 13.0263 59.9002C13.0263 56.7554 15.5724 54.2097 18.7105 54.2097C21.8487 54.2097 24.3947 56.7554 24.3947 59.9002C24.3947 63.0449 21.8487 65.5907 18.7105 65.5907ZM39.375 9.43428C39.375 6.28952 41.9211 3.74376 45.0592 3.74376C48.1974 3.74376 50.7434 6.28952 50.7434 9.43428C50.7434 12.579 48.1974 15.1248 45.0592 15.1248C41.9211 15.1248 39.375 12.4293 39.375 9.43428Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_867'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz03 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_870)'%3E%3Cpath d='M84.7144 53.8881H63.6045V45.4367C63.6045 44.1517 63.2651 42.9491 62.6994 41.9442C63.0388 41.8288 63.3136 41.5982 63.4914 41.2687C63.7338 40.8074 63.7015 40.2473 63.4267 39.819L47.5215 15.3379V11.4335L57.3491 7.29836C57.8664 7.08419 58.2058 6.55701 58.2058 5.98041C58.2058 5.4038 57.8664 4.89309 57.3491 4.67892L46.5194 0.0990213C46.083 -0.0821978 45.5981 -0.0327744 45.2101 0.230817C44.8222 0.494408 44.5959 0.939219 44.5959 1.4005V10.5109C44.5959 10.7251 44.6606 10.9392 44.7414 11.1369V15.4203L28.917 39.786C28.6422 40.2143 28.6099 40.7745 28.8524 41.2358C29.0302 41.5652 29.305 41.7959 29.6444 41.9112C29.0787 42.9162 28.7392 44.1188 28.7392 45.4038V53.8552H5.2694C2.35991 53.8552 0 56.2605 0 59.2259V84.5801C0 87.5455 2.35991 89.9507 5.2694 89.9507H84.7144C87.6239 89.9507 89.9838 87.5455 89.9838 84.5801V59.2259C89.9838 56.2605 87.6239 53.8552 84.7144 53.8552V53.8881ZM47.3761 3.52571L53.1789 5.96393L47.3761 8.40215V3.52571ZM46.18 18.3692L59.6929 39.1765H32.667L46.18 18.3692ZM49.4289 86.9524H41.6703V71.2193H49.4289V86.9524ZM87.2037 84.613C87.2037 86.0133 86.0884 87.1501 84.7144 87.1501H52.1929V69.8025C52.1929 69.0282 51.5787 68.3857 50.8028 68.3857H40.264C39.4881 68.3857 38.8739 69.0282 38.8739 69.8025V87.1501H5.2694C3.89547 87.1501 2.78017 86.0133 2.78017 84.613V59.2588C2.78017 57.8585 3.89547 56.7218 5.2694 56.7218H30.1616C30.5496 56.7218 30.9213 56.557 31.18 56.2769C31.4386 55.9969 31.5841 55.6015 31.5517 55.2061C31.5517 55.0908 31.5517 54.9755 31.5517 54.8601V45.4367C31.5517 43.5751 32.6994 42.0101 34.0409 42.0101H58.3513C59.709 42.0101 60.8405 43.5751 60.8405 45.4367V54.8601C60.8405 54.9755 60.8405 55.0908 60.8405 55.2061C60.8082 55.6015 60.9375 55.9804 61.2123 56.2769C61.4709 56.5735 61.8427 56.7218 62.2306 56.7218H84.7468C86.1207 56.7218 87.236 57.8585 87.236 59.2588V84.613H87.2037Z' fill='%2300D1FF'/%3E%3Cpath d='M43.7392 47.9404H36.7888C36.4009 47.9404 36.0938 48.2534 36.0938 48.6488V55.7329C36.0938 56.1282 36.4009 56.4412 36.7888 56.4412H43.7392C44.1272 56.4412 44.4343 56.1282 44.4343 55.7329V48.6488C44.4343 48.2534 44.1272 47.9404 43.7392 47.9404ZM43.0442 55.0245H37.4838V49.3572H43.0442V55.0245Z' fill='%2300D1FF'/%3E%3Cpath d='M54.8921 47.9404H47.9416C47.5537 47.9404 47.2466 48.2534 47.2466 48.6488V55.7329C47.2466 56.1282 47.5537 56.4412 47.9416 56.4412H54.8921C55.28 56.4412 55.5871 56.1282 55.5871 55.7329V48.6488C55.5871 48.2534 55.28 47.9404 54.8921 47.9404ZM54.197 55.0245H48.6367V49.3572H54.197V55.0245Z' fill='%2300D1FF'/%3E%3Cpath d='M17.6831 67.957H10.7326C10.3447 67.957 10.0376 68.27 10.0376 68.6654V75.7495C10.0376 76.1448 10.3447 76.4579 10.7326 76.4579H17.6831C18.071 76.4579 18.3781 76.1448 18.3781 75.7495V68.6654C18.3781 68.27 18.071 67.957 17.6831 67.957ZM16.988 75.041H11.4277V69.3738H16.988V75.041Z' fill='%2300D1FF'/%3E%3Cpath d='M28.8203 67.957H21.8698C21.4819 67.957 21.1748 68.27 21.1748 68.6654V75.7495C21.1748 76.1448 21.4819 76.4579 21.8698 76.4579H28.8203C29.2082 76.4579 29.5153 76.1448 29.5153 75.7495V68.6654C29.5153 68.27 29.2082 67.957 28.8203 67.957ZM28.1252 75.041H22.5649V69.3738H28.1252V75.041Z' fill='%2300D1FF'/%3E%3Cpath d='M69.3589 67.957H62.4084C62.0205 67.957 61.7134 68.27 61.7134 68.6654V75.7495C61.7134 76.1448 62.0205 76.4579 62.4084 76.4579H69.3589C69.7468 76.4579 70.0539 76.1448 70.0539 75.7495V68.6654C70.0539 68.27 69.7468 67.957 69.3589 67.957ZM68.6638 75.041H63.1035V69.3738H68.6638V75.041Z' fill='%2300D1FF'/%3E%3Cpath d='M80.4956 67.957H73.5451C73.1572 67.957 72.8501 68.27 72.8501 68.6654V75.7495C72.8501 76.1448 73.1572 76.4579 73.5451 76.4579H80.4956C80.8835 76.4579 81.1906 76.1448 81.1906 75.7495V68.6654C81.1906 68.27 80.8835 67.957 80.4956 67.957ZM79.8005 75.041H74.2402V69.3738H79.8005V75.041Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_870'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz04 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_878)'%3E%3Cpath d='M88.046 86.1065H71.1266V69.3344H88.046C89.2451 69.3344 90.148 68.1364 89.8372 66.9384C78.602 27.7038 82.051 39.8336 71.1118 1.34775C70.8158 0.599002 70.2089 0 69.3207 0C68.4326 0 67.8257 0.599002 67.5296 1.34775C46.1102 75.9235 51.9572 55.8569 48.6562 66.9384C48.3602 68.1364 49.2484 69.3344 50.4474 69.3344H67.3668V86.1065H22.4556V69.3344H39.375C40.574 69.3344 41.477 68.1364 41.1661 66.9384C35.7928 47.9201 28.1546 21.1148 22.4556 1.34775C22.1595 0.599002 21.5526 0 20.6645 0C19.7763 0 19.1694 0.599002 18.8734 1.34775C17.8224 4.79201 1.05099 63.4942 0.148026 66.9384C-0.148026 68.1364 0.740131 69.3344 1.93914 69.3344H18.7105V86.1065H1.93914C0.888158 86.1065 0 87.005 0 88.0532C0 89.1015 0.90296 90 1.93914 90H88.046C89.097 90 89.9852 89.1015 89.9852 88.0532C89.8372 87.005 88.9342 86.1065 88.046 86.1065ZM58.3964 46.8719H80.1118L82.8059 56.3062H55.7023L58.3964 46.8719ZM62.1414 33.6938H76.3668L79.0609 43.1281H59.4474L62.1414 33.6938ZM65.8865 20.6656H72.6217L75.3158 30.0998H63.1924L65.8865 20.6656ZM69.3355 8.68552L71.7335 16.772H67.0855L69.3355 8.68552ZM54.6513 59.9002H83.8569L85.5 65.5907H53.0082L54.6513 59.9002ZM9.74013 46.8719H31.4556L34.1497 56.3062H7.03125L9.72533 46.8719H9.74013ZM13.4704 33.6938H27.6957L30.3898 43.1281H10.7763L13.4704 33.6938ZM17.2155 20.6656H23.9507L26.6447 30.0998H14.5214L17.2155 20.6656ZM20.6645 8.68552L23.0625 16.772H18.4145L20.6645 8.68552ZM5.99507 59.9002H35.2007L36.8437 65.5907H4.33717L5.98026 59.9002H5.99507Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_878'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz05 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_881)'%3E%3Cpath d='M90 35.7309V13.3056C90 6.12957 84.1626 0.149502 76.8473 0.149502C69.532 0.149502 63.6946 5.98007 63.6946 13.3056V35.7309C63.6946 42.309 68.6305 47.8405 74.9113 48.7375V86.113H47.0985V48.588C53.3793 47.691 58.3153 42.1595 58.3153 35.5814V13.1561C58.3153 5.98007 52.4778 0 45.1626 0C37.8473 0 32.0099 5.83056 32.0099 13.1561V35.5814C32.0099 42.1595 36.9458 47.691 43.2266 48.588V86.113H15.2512V48.588C21.532 47.691 26.468 42.1595 26.468 35.5814V13.1561C26.4532 5.98007 20.6305 0 13.3005 0C5.97044 0 0.147783 5.83056 0.147783 13.1561V35.5814C0.147783 42.1595 5.08374 47.691 11.3645 48.588V86.113H1.93596C0.886699 86.113 0 87.01 0 88.0565C0 89.103 0.901478 90 1.93596 90H87.9015C88.9507 90 89.8374 89.103 89.8374 88.0565C89.8374 87.01 88.936 86.113 87.9015 86.113H78.7832V48.588C85.064 47.691 90 42.309 90 35.7309ZM35.8818 35.7309V13.3056C35.8818 8.22259 40.064 3.88704 45.2956 3.88704C50.5271 3.88704 54.7094 8.07309 54.7094 13.3056V35.7309C54.7094 40.2159 51.4138 43.9535 47.2315 44.8505V31.0963L52.0197 27.9568C52.9212 27.3588 53.069 26.1628 52.4631 25.4153C51.8719 24.5183 50.6749 24.3688 49.9212 24.9668L47.2315 26.7608V22.7243C47.2315 21.6777 46.33 20.7807 45.2956 20.7807C44.2611 20.7807 43.3596 21.6777 43.3596 22.7243V36.0299L40.6699 34.2359C39.7685 33.6379 38.5714 33.9369 38.1281 34.6844C37.5369 35.5814 37.8325 36.7774 38.5714 37.2259L43.3596 40.3654V44.8505C39.0296 43.9535 35.8818 40.2159 35.8818 35.7309ZM4.03448 35.7309V13.3056C4.03448 8.22259 8.21675 3.88704 13.4483 3.88704C18.6798 3.88704 22.8621 8.07309 22.8621 13.3056V35.7309C22.8621 40.2159 19.5665 43.9535 15.3842 44.8505V31.0963L20.1724 27.9568C21.0739 27.3588 21.2217 26.1628 20.6158 25.4153C20.0246 24.5183 18.8276 24.3688 18.0739 24.9668L15.3842 26.7608V22.7243C15.3842 21.6777 14.4828 20.7807 13.4335 20.7807C12.3842 20.7807 11.4975 21.5282 11.4975 22.5748V35.8804L8.80788 34.0864C7.9064 33.4884 6.70936 33.7874 6.26601 34.5349C5.67488 35.4319 5.97044 36.6279 6.70936 37.0764L11.4975 40.2159V44.701C7.31527 43.9535 4.0197 40.2159 4.0197 35.7309H4.03448ZM67.5665 35.7309V13.3056C67.5665 8.22259 71.7488 3.88704 76.9803 3.88704C82.2118 3.88704 86.3941 8.07309 86.3941 13.3056V35.7309C86.3941 40.2159 83.0985 43.9535 78.9163 44.8505V31.0963L83.7044 27.9568C84.6059 27.3588 84.7537 26.1628 84.1478 25.4153C83.5566 24.5183 82.3596 24.3688 81.6059 24.9668L78.7685 26.6113V22.5748C78.7685 21.5282 77.867 20.6312 76.8177 20.6312C75.7685 20.6312 74.8818 21.5282 74.8818 22.5748V35.8804L72.1921 34.0864C71.2906 33.4884 70.0936 33.7874 69.6502 34.5349C69.2069 35.2824 69.3547 36.6279 70.0936 37.0764L74.8818 40.2159V44.701C70.8473 43.9535 67.5517 40.2159 67.5517 35.7309H67.5665Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_881'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz06 a span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_884)'%3E%3Cpath d='M88.0493 86.1065H82.3744V67.3877H88.0493C89.0985 67.3877 89.9852 66.4892 89.9852 65.4409C89.9852 64.3927 88.936 63.6439 88.0493 63.6439H46.936C45.8867 63.6439 45 64.5424 45 65.5907C45 66.6389 45.9015 67.5374 46.936 67.5374H52.6108V86.1065H26.3054V48.6689C38.867 47.7704 48.7241 37.1381 48.7241 24.4093C48.7389 10.9318 37.8177 0 24.3695 0C10.9212 0 0 10.9318 0 24.4093C0 37.1381 9.87192 47.7704 22.4187 48.6689V86.1065H2.09852C1.04926 86.1065 0.162562 87.005 0.162562 88.0532C0.162562 89.1015 1.06404 90 2.09852 90H88.064C89.1133 90 90 89.1015 90 88.0532C89.8522 87.005 88.9507 86.1065 88.064 86.1065H88.0493ZM3.8867 24.4093C3.8867 13.0283 13.1527 3.74376 24.5172 3.74376C35.8818 3.74376 45.1478 13.0283 45.1478 24.4093C45.1478 35.1913 36.931 44.0266 26.468 44.9251V22.6123C26.468 21.5641 25.5665 20.6656 24.5172 20.6656C23.468 20.6656 22.5813 21.5641 22.5813 22.6123V29.8003L14.5123 23.0616C13.7586 22.4626 12.5616 22.4626 11.8227 23.3611C11.2315 24.1098 11.2315 25.3078 12.1182 26.0566L22.7291 34.8918V45.2246C12.1182 43.8769 3.8867 35.0416 3.8867 24.4093ZM56.2167 67.3877H78.6355V86.1065H56.2167V67.3877Z' fill='%2300D1FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_884'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz01 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_98)'%3E%3Cpath d='M88.046 86.113H80.5559V57.8571C85.796 56.9601 89.9852 52.3256 89.9852 46.794C89.9852 40.6644 84.8931 35.5814 78.75 35.5814C72.6069 35.5814 67.5148 40.6644 67.5148 46.794C67.5148 52.3256 71.5559 56.9601 76.9441 57.8571V86.113H63.6217V74.6013C66.9227 73.7043 69.3059 70.8638 69.3059 67.4252C69.3059 63.2392 66.0049 59.9502 61.8158 59.9502C57.6266 59.9502 54.3257 63.2392 54.3257 67.4252C54.3257 70.8638 56.7237 73.8538 60.0099 74.6013V86.113H48.6266V33.6379C57.0049 32.7409 63.6069 25.5648 63.6069 16.8937C63.6069 7.62459 56.1168 0 46.6875 0C37.2582 0 29.7681 7.47508 29.7681 16.8937C29.7681 25.5648 36.3553 32.7409 44.7484 33.6379V86.113H31.574V74.6013C34.875 73.7043 37.2582 70.8638 37.2582 67.4252C37.2582 63.2392 33.972 59.9502 29.7681 59.9502C25.5641 59.9502 22.278 63.2392 22.278 67.4252C22.278 70.8638 24.676 73.8538 27.9622 74.6013V86.113H12.9819V57.8571C18.222 56.9601 22.4112 52.3256 22.4112 46.794C22.4112 40.6644 17.3191 35.5814 11.176 35.5814C5.03289 35.5814 0 40.6644 0 46.794C0 52.3256 4.04112 56.9601 9.42928 57.8571V86.113H1.95395C0.902961 86.113 0 87.01 0 88.0565C0 89.103 0.902961 90 1.95395 90H88.0609C89.1118 90 90.0148 89.103 90.0148 88.0565C89.8668 87.01 88.9638 86.113 88.0609 86.113H88.046ZM71.1266 46.9435C71.1266 42.7575 74.4276 39.4684 78.6168 39.4684C82.8059 39.4684 86.1069 42.7575 86.1069 46.9435C86.1069 50.3821 83.7089 53.3721 80.4227 54.1196V50.6811C80.4227 49.6346 79.5197 48.7375 78.4836 48.7375C77.4474 48.7375 76.5296 49.6346 76.5296 50.6811V54.1196C73.5395 53.2226 71.1414 50.3821 71.1414 46.9435H71.1266ZM58.1003 67.4252C58.1003 65.3322 59.7434 63.6877 61.8454 63.6877C63.9474 63.6877 65.5905 65.3322 65.5905 67.4252C65.5905 68.7708 64.8355 69.9668 63.6513 70.7143V69.3688C63.6513 68.3223 62.7484 67.4252 61.6974 67.4252C60.6464 67.4252 59.7434 68.3223 59.7434 69.3688V70.7143C58.8405 69.9668 58.1003 68.7708 58.1003 67.4252ZM33.6908 17.0432C33.6908 9.86711 39.5378 3.88704 46.8651 3.88704C54.1924 3.88704 60.0395 9.71761 60.0395 17.0432C60.0395 23.6213 55.0954 29.1528 48.8043 30.0498V20.7807C48.8043 19.7342 47.9013 18.8372 46.8503 18.8372C45.7993 18.8372 44.8964 19.7342 44.8964 20.7807V30.0498C38.6053 29.0033 33.6612 23.6213 33.6612 17.0432H33.6908ZM26.2007 67.4252C26.2007 65.3322 27.8437 63.6877 29.9457 63.6877C32.0477 63.6877 33.6908 65.3322 33.6908 67.4252C33.6908 68.7708 32.9359 69.9668 31.7516 70.7143V69.3688C31.7516 68.3223 30.8487 67.4252 29.7977 67.4252C28.7467 67.4252 27.8586 68.3223 27.8586 69.3688V70.7143C26.9556 69.9668 26.2155 68.7708 26.2155 67.4252H26.2007ZM3.74507 46.9435C3.74507 42.7575 7.04605 39.4684 11.2352 39.4684C15.4243 39.4684 18.7253 42.7575 18.7253 46.9435C18.7253 50.3821 16.3273 53.3721 13.0411 54.1196V50.6811C13.0411 49.6346 12.1382 48.7375 11.102 48.7375C10.0658 48.7375 9.14803 49.6346 9.14803 50.6811V54.1196C6.15789 53.2226 3.75987 50.3821 3.75987 46.9435H3.74507Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_98'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz02 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_78)'%3E%3Cpath d='M88.046 86.1065H46.8651V64.8419C65.5905 55.4077 64.5395 56.0067 64.9836 55.7072C66.6266 57.2047 68.8766 58.1032 71.2747 58.1032C76.3668 58.1032 80.7039 53.9102 80.7039 48.6689C80.7039 43.4276 76.5148 39.2346 71.2747 39.2346C66.0345 39.2346 61.8454 43.4276 61.8454 48.6689C61.8454 50.1664 62.1414 51.5141 62.7484 52.7122L46.8799 60.6489V38.6356C65.4424 29.3511 64.5543 29.8003 64.9984 29.5008C66.6414 30.9983 68.8914 31.8968 71.2895 31.8968C76.3816 31.8968 80.7187 27.7038 80.7187 22.4626C80.7187 17.2213 76.5296 13.0283 71.2895 13.0283C66.0493 13.0283 61.8602 17.2213 61.8602 22.4626C61.8602 23.9601 62.1563 25.3078 62.7632 26.5058L46.8947 34.4426V18.5691C51.0839 17.6705 54.3849 13.9268 54.3849 9.43428C54.3849 4.34276 50.1957 0 44.9556 0C39.7155 0 35.5263 4.19301 35.5263 9.43428C35.5263 13.9268 38.8273 17.6705 43.0164 18.5691V45.6739L27.148 37.7371C27.7401 36.5391 28.051 35.1913 28.051 33.6938C28.051 28.6023 23.8618 24.2596 18.6217 24.2596C13.3816 24.2596 9.19243 28.4526 9.19243 33.6938C9.19243 38.9351 13.3816 43.1281 18.6217 43.1281C21.0197 43.1281 23.1217 42.2296 24.9128 40.7321C25.3569 41.0316 24.3207 40.5824 43.0312 49.8669V71.8802L27.1628 63.9434C27.7549 62.7454 28.0658 61.3977 28.0658 59.9002C28.0658 54.8087 23.8766 50.4659 18.6365 50.4659C13.3964 50.4659 9.20724 54.6589 9.20724 59.9002C9.20724 65.1414 13.3964 69.3344 18.6365 69.3344C21.0345 69.3344 23.1365 68.4359 24.9276 66.9384C25.3717 67.2379 24.4836 66.7887 43.0461 76.0732V86.1065H1.93914C0.888158 86.1065 0 87.005 0 88.0532C0 89.1015 0.90296 90 1.93914 90H88.046C89.097 90 89.9852 89.1015 89.9852 88.0532C89.8372 87.005 88.9342 86.1065 88.046 86.1065ZM71.1266 43.1281C74.2648 43.1281 76.8109 45.6739 76.8109 48.8186C76.8109 51.9634 74.2648 54.5092 71.1266 54.5092C67.9885 54.5092 65.4424 51.9634 65.4424 48.8186C65.4424 45.6739 67.9885 43.1281 71.1266 43.1281ZM71.1266 16.9218C74.2648 16.9218 76.8109 19.4676 76.8109 22.6123C76.8109 25.7571 74.2648 28.3028 71.1266 28.3028C67.9885 28.3028 65.4424 25.7571 65.4424 22.6123C65.4424 19.4676 67.9885 16.9218 71.1266 16.9218ZM18.7105 39.3844C15.5724 39.3844 13.0263 36.8386 13.0263 33.6938C13.0263 30.5491 15.5724 28.0033 18.7105 28.0033C21.8487 28.0033 24.3947 30.5491 24.3947 33.6938C24.3947 36.8386 21.8487 39.3844 18.7105 39.3844ZM18.7105 65.5907C15.5724 65.5907 13.0263 63.0449 13.0263 59.9002C13.0263 56.7554 15.5724 54.2097 18.7105 54.2097C21.8487 54.2097 24.3947 56.7554 24.3947 59.9002C24.3947 63.0449 21.8487 65.5907 18.7105 65.5907ZM39.375 9.43428C39.375 6.28952 41.9211 3.74376 45.0592 3.74376C48.1974 3.74376 50.7434 6.28952 50.7434 9.43428C50.7434 12.579 48.1974 15.1248 45.0592 15.1248C41.9211 15.1248 39.375 12.4293 39.375 9.43428Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_78'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz03 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_81)'%3E%3Cpath d='M84.7144 53.8881H63.6045V45.4367C63.6045 44.1517 63.2651 42.9491 62.6994 41.9442C63.0388 41.8288 63.3136 41.5982 63.4914 41.2687C63.7338 40.8074 63.7015 40.2473 63.4267 39.819L47.5215 15.3379V11.4335L57.3491 7.29836C57.8664 7.08419 58.2058 6.55701 58.2058 5.98041C58.2058 5.4038 57.8664 4.89309 57.3491 4.67892L46.5194 0.0990213C46.083 -0.0821978 45.5981 -0.0327744 45.2101 0.230817C44.8222 0.494408 44.5959 0.939219 44.5959 1.4005V10.5109C44.5959 10.7251 44.6606 10.9392 44.7414 11.1369V15.4203L28.917 39.786C28.6422 40.2143 28.6099 40.7745 28.8524 41.2358C29.0302 41.5652 29.305 41.7959 29.6444 41.9112C29.0787 42.9162 28.7392 44.1188 28.7392 45.4038V53.8552H5.2694C2.35991 53.8552 0 56.2605 0 59.2259V84.5801C0 87.5455 2.35991 89.9507 5.2694 89.9507H84.7144C87.6239 89.9507 89.9838 87.5455 89.9838 84.5801V59.2259C89.9838 56.2605 87.6239 53.8552 84.7144 53.8552V53.8881ZM47.3761 3.52571L53.1789 5.96393L47.3761 8.40215V3.52571ZM46.18 18.3692L59.6929 39.1765H32.667L46.18 18.3692ZM49.4289 86.9524H41.6703V71.2193H49.4289V86.9524ZM87.2037 84.613C87.2037 86.0133 86.0884 87.1501 84.7144 87.1501H52.1929V69.8025C52.1929 69.0282 51.5787 68.3857 50.8028 68.3857H40.264C39.4881 68.3857 38.8739 69.0282 38.8739 69.8025V87.1501H5.2694C3.89547 87.1501 2.78017 86.0133 2.78017 84.613V59.2588C2.78017 57.8585 3.89547 56.7218 5.2694 56.7218H30.1616C30.5496 56.7218 30.9213 56.557 31.18 56.2769C31.4386 55.9969 31.5841 55.6015 31.5517 55.2061C31.5517 55.0908 31.5517 54.9755 31.5517 54.8601V45.4367C31.5517 43.5751 32.6994 42.0101 34.0409 42.0101H58.3513C59.709 42.0101 60.8405 43.5751 60.8405 45.4367V54.8601C60.8405 54.9755 60.8405 55.0908 60.8405 55.2061C60.8082 55.6015 60.9375 55.9804 61.2123 56.2769C61.4709 56.5735 61.8427 56.7218 62.2306 56.7218H84.7468C86.1207 56.7218 87.236 57.8585 87.236 59.2588V84.613H87.2037Z' fill='white'/%3E%3Cpath d='M43.7392 47.9404H36.7888C36.4009 47.9404 36.0938 48.2534 36.0938 48.6488V55.7329C36.0938 56.1282 36.4009 56.4412 36.7888 56.4412H43.7392C44.1272 56.4412 44.4343 56.1282 44.4343 55.7329V48.6488C44.4343 48.2534 44.1272 47.9404 43.7392 47.9404ZM43.0442 55.0245H37.4838V49.3572H43.0442V55.0245Z' fill='white'/%3E%3Cpath d='M54.8925 47.9404H47.9421C47.5542 47.9404 47.2471 48.2534 47.2471 48.6488V55.7329C47.2471 56.1282 47.5542 56.4412 47.9421 56.4412H54.8925C55.2805 56.4412 55.5876 56.1282 55.5876 55.7329V48.6488C55.5876 48.2534 55.2805 47.9404 54.8925 47.9404ZM54.1975 55.0245H48.6372V49.3572H54.1975V55.0245Z' fill='white'/%3E%3Cpath d='M17.6836 67.957H10.7331C10.3452 67.957 10.0381 68.27 10.0381 68.6654V75.7495C10.0381 76.1448 10.3452 76.4579 10.7331 76.4579H17.6836C18.0715 76.4579 18.3786 76.1448 18.3786 75.7495V68.6654C18.3786 68.27 18.0715 67.957 17.6836 67.957ZM16.9885 75.041H11.4282V69.3738H16.9885V75.041Z' fill='white'/%3E%3Cpath d='M28.8203 67.957H21.8698C21.4819 67.957 21.1748 68.27 21.1748 68.6654V75.7495C21.1748 76.1448 21.4819 76.4579 21.8698 76.4579H28.8203C29.2082 76.4579 29.5153 76.1448 29.5153 75.7495V68.6654C29.5153 68.27 29.2082 67.957 28.8203 67.957ZM28.1252 75.041H22.5649V69.3738H28.1252V75.041Z' fill='white'/%3E%3Cpath d='M69.3584 67.957H62.4079C62.02 67.957 61.7129 68.27 61.7129 68.6654V75.7495C61.7129 76.1448 62.02 76.4579 62.4079 76.4579H69.3584C69.7463 76.4579 70.0534 76.1448 70.0534 75.7495V68.6654C70.0534 68.27 69.7463 67.957 69.3584 67.957ZM68.6633 75.041H63.103V69.3738H68.6633V75.041Z' fill='white'/%3E%3Cpath d='M80.4961 67.957H73.5456C73.1577 67.957 72.8506 68.27 72.8506 68.6654V75.7495C72.8506 76.1448 73.1577 76.4579 73.5456 76.4579H80.4961C80.884 76.4579 81.1911 76.1448 81.1911 75.7495V68.6654C81.1911 68.27 80.884 67.957 80.4961 67.957ZM79.801 75.041H74.2407V69.3738H79.801V75.041Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_81'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz04 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_89)'%3E%3Cpath d='M88.046 86.1065H71.1266V69.3344H88.046C89.2451 69.3344 90.148 68.1364 89.8372 66.9384C78.602 27.7038 82.051 39.8336 71.1118 1.34775C70.8158 0.599002 70.2089 0 69.3207 0C68.4326 0 67.8257 0.599002 67.5296 1.34775C46.1102 75.9235 51.9572 55.8569 48.6562 66.9384C48.3602 68.1364 49.2484 69.3344 50.4474 69.3344H67.3668V86.1065H22.4556V69.3344H39.375C40.574 69.3344 41.477 68.1364 41.1661 66.9384C35.7928 47.9201 28.1546 21.1148 22.4556 1.34775C22.1595 0.599002 21.5526 0 20.6645 0C19.7763 0 19.1694 0.599002 18.8734 1.34775C17.8224 4.79201 1.05099 63.4942 0.148026 66.9384C-0.148026 68.1364 0.740131 69.3344 1.93914 69.3344H18.7105V86.1065H1.93914C0.888158 86.1065 0 87.005 0 88.0532C0 89.1015 0.90296 90 1.93914 90H88.046C89.097 90 89.9852 89.1015 89.9852 88.0532C89.8372 87.005 88.9342 86.1065 88.046 86.1065ZM58.3964 46.8719H80.1118L82.8059 56.3062H55.7023L58.3964 46.8719ZM62.1414 33.6938H76.3668L79.0609 43.1281H59.4474L62.1414 33.6938ZM65.8865 20.6656H72.6217L75.3158 30.0998H63.1924L65.8865 20.6656ZM69.3355 8.68552L71.7335 16.772H67.0855L69.3355 8.68552ZM54.6513 59.9002H83.8569L85.5 65.5907H53.0082L54.6513 59.9002ZM9.74013 46.8719H31.4556L34.1497 56.3062H7.03125L9.72533 46.8719H9.74013ZM13.4704 33.6938H27.6957L30.3898 43.1281H10.7763L13.4704 33.6938ZM17.2155 20.6656H23.9507L26.6447 30.0998H14.5214L17.2155 20.6656ZM20.6645 8.68552L23.0625 16.772H18.4145L20.6645 8.68552ZM5.99507 59.9002H35.2007L36.8437 65.5907H4.33717L5.98026 59.9002H5.99507Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_89'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz05 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_92)'%3E%3Cpath d='M90 35.7309V13.3056C90 6.12957 84.1626 0.149502 76.8473 0.149502C69.532 0.149502 63.6946 5.98007 63.6946 13.3056V35.7309C63.6946 42.309 68.6305 47.8405 74.9113 48.7375V86.113H47.0985V48.588C53.3793 47.691 58.3153 42.1595 58.3153 35.5814V13.1561C58.3153 5.98007 52.4778 0 45.1626 0C37.8473 0 32.0099 5.83056 32.0099 13.1561V35.5814C32.0099 42.1595 36.9458 47.691 43.2266 48.588V86.113H15.2512V48.588C21.532 47.691 26.468 42.1595 26.468 35.5814V13.1561C26.4532 5.98007 20.6305 0 13.3005 0C5.97044 0 0.147783 5.83056 0.147783 13.1561V35.5814C0.147783 42.1595 5.08374 47.691 11.3645 48.588V86.113H1.93596C0.886699 86.113 0 87.01 0 88.0565C0 89.103 0.901478 90 1.93596 90H87.9015C88.9507 90 89.8374 89.103 89.8374 88.0565C89.8374 87.01 88.936 86.113 87.9015 86.113H78.7832V48.588C85.064 47.691 90 42.309 90 35.7309ZM35.8818 35.7309V13.3056C35.8818 8.22259 40.064 3.88704 45.2956 3.88704C50.5271 3.88704 54.7094 8.07309 54.7094 13.3056V35.7309C54.7094 40.2159 51.4138 43.9535 47.2315 44.8505V31.0963L52.0197 27.9568C52.9212 27.3588 53.069 26.1628 52.4631 25.4153C51.8719 24.5183 50.6749 24.3688 49.9212 24.9668L47.2315 26.7608V22.7243C47.2315 21.6777 46.33 20.7807 45.2956 20.7807C44.2611 20.7807 43.3596 21.6777 43.3596 22.7243V36.0299L40.6699 34.2359C39.7685 33.6379 38.5714 33.9369 38.1281 34.6844C37.5369 35.5814 37.8325 36.7774 38.5714 37.2259L43.3596 40.3654V44.8505C39.0296 43.9535 35.8818 40.2159 35.8818 35.7309ZM4.03448 35.7309V13.3056C4.03448 8.22259 8.21675 3.88704 13.4483 3.88704C18.6798 3.88704 22.8621 8.07309 22.8621 13.3056V35.7309C22.8621 40.2159 19.5665 43.9535 15.3842 44.8505V31.0963L20.1724 27.9568C21.0739 27.3588 21.2217 26.1628 20.6158 25.4153C20.0246 24.5183 18.8276 24.3688 18.0739 24.9668L15.3842 26.7608V22.7243C15.3842 21.6777 14.4828 20.7807 13.4335 20.7807C12.3842 20.7807 11.4975 21.5282 11.4975 22.5748V35.8804L8.80788 34.0864C7.9064 33.4884 6.70936 33.7874 6.26601 34.5349C5.67488 35.4319 5.97044 36.6279 6.70936 37.0764L11.4975 40.2159V44.701C7.31527 43.9535 4.0197 40.2159 4.0197 35.7309H4.03448ZM67.5665 35.7309V13.3056C67.5665 8.22259 71.7488 3.88704 76.9803 3.88704C82.2118 3.88704 86.3941 8.07309 86.3941 13.3056V35.7309C86.3941 40.2159 83.0985 43.9535 78.9163 44.8505V31.0963L83.7044 27.9568C84.6059 27.3588 84.7537 26.1628 84.1478 25.4153C83.5566 24.5183 82.3596 24.3688 81.6059 24.9668L78.7685 26.6113V22.5748C78.7685 21.5282 77.867 20.6312 76.8177 20.6312C75.7685 20.6312 74.8818 21.5282 74.8818 22.5748V35.8804L72.1921 34.0864C71.2906 33.4884 70.0936 33.7874 69.6502 34.5349C69.2069 35.2824 69.3547 36.6279 70.0936 37.0764L74.8818 40.2159V44.701C70.8473 43.9535 67.5517 40.2159 67.5517 35.7309H67.5665Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_92'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li.biz06 a:hover span::before {background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_95)'%3E%3Cpath d='M88.0493 86.1065H82.3744V67.3877H88.0493C89.0985 67.3877 89.9852 66.4892 89.9852 65.4409C89.9852 64.3927 88.936 63.6439 88.0493 63.6439H46.936C45.8867 63.6439 45 64.5424 45 65.5907C45 66.6389 45.9015 67.5374 46.936 67.5374H52.6108V86.1065H26.3054V48.6689C38.867 47.7704 48.7241 37.1381 48.7241 24.4093C48.7389 10.9318 37.8177 0 24.3695 0C10.9212 0 0 10.9318 0 24.4093C0 37.1381 9.87192 47.7704 22.4187 48.6689V86.1065H2.09852C1.04926 86.1065 0.162562 87.005 0.162562 88.0532C0.162562 89.1015 1.06404 90 2.09852 90H88.064C89.1133 90 90 89.1015 90 88.0532C89.8522 87.005 88.9507 86.1065 88.064 86.1065H88.0493ZM3.8867 24.4093C3.8867 13.0283 13.1527 3.74376 24.5172 3.74376C35.8818 3.74376 45.1478 13.0283 45.1478 24.4093C45.1478 35.1913 36.931 44.0266 26.468 44.9251V22.6123C26.468 21.5641 25.5665 20.6656 24.5172 20.6656C23.468 20.6656 22.5813 21.5641 22.5813 22.6123V29.8003L14.5123 23.0616C13.7586 22.4626 12.5616 22.4626 11.8227 23.3611C11.2315 24.1098 11.2315 25.3078 12.1182 26.0566L22.7291 34.8918V45.2246C12.1182 43.8769 3.8867 35.0416 3.8867 24.4093ZM56.2167 67.3877H78.6355V86.1065H56.2167V67.3877Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_95'%3E%3Crect width='90' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.biz .list ul li a:hover span::before {transition: 0.5s;}
.biz .list ul li a::after {
    position: absolute;
    right: 10%;
    bottom: 30px;
    height: 35px;
    width: 35px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9.72217' y='9.72266' width='15.5556' height='13.6111' fill='white'/%3E%3Cpath d='M17.4998 2.91699C25.5498 2.91699 32.0832 9.45033 32.0832 17.5003C32.0832 25.5503 25.5498 32.0837 17.4998 32.0837C9.44984 32.0837 2.9165 25.5503 2.9165 17.5003C2.9165 9.45033 9.44984 2.91699 17.4998 2.91699ZM17.4998 16.042H11.6665V18.9587H17.4998V23.3337L23.3332 17.5003L17.4998 11.667V16.042Z' fill='%2300D1FF'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1600px){
    .biz .list ul li a {
        font-size: 30px;
    }
    .biz .list ul li a::after {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:1320px){
    .biz .tit h2 {
        font-size: 40px;
    }
    .biz .list ul li {
        height: 180px;
    }
    .biz .list ul li a {
        font-size: 25px;
        padding: 121px 0 0 15px;
    }
    .biz .list ul li a::after {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        right: 10%;
        bottom: 68px;
    }
    .biz .list ul li a::after {
        transform: scale(0.8);
    }
    .biz .list ul li a span::before {
        transform: scale(0.8);
        left: -8px;
        bottom: 42px;
    }
    .biz .list ul li a span::after {
        transform: scale(0.8);
    }
}
@media screen and (max-width:1024px){
    .biz .tit h2 {
        font-size: 30px;
    }
    .biz .list ul li {
        height: 125px;
    }
    .biz .list ul li a {
        font-size: 17px;
        padding: 83px 0 0 13px;
    }
    .biz .list ul li a::after {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        right: 10%;
        bottom: 111px;
    }
    .biz .list ul li a::after {
        transform: scale(0.6);
    }
    .biz .list ul li a span::before {
        transform: scale(0.6);
        left: -17px;
        bottom: 14px;
    }
    .biz .list ul li a span::after {
        transform: scale(0.6);
    }
}
@media screen and (max-width:768px){
    .biz {
        min-height: auto !important;
    }
    .biz .inner {
        display: block;
    }
    .biz .tit {
        width: 100%;
    }
    .biz .tit h2 {
        display: flex;
        justify-content: center;
    }
    .biz .tit p {
        display: none;
    }
    .biz .list {
        width: 100%;
        padding: 40px 0 0 0;
    }
    .biz .list ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .biz .list ul li:nth-child(odd){ 
        transform: translate(0, 0);
    }
    .biz .list ul li a::after {
        right: 5%;
    }
}


.new {
    background-color: #fff;
}
footer {
    height: 500px;
    background-color: #1d1d1d;
    color: #fff;
}

/**************************************************************** 
    page에서 자동 생성한 pagenation
    #fp-nav.fp-left 동일한 선택자 두개가 존재할때
    꼭 내꺼를 먼저 적용되게 하기 위해서 앞에 body를 추가함
    body라는 상위 요소로부터 선택자를 입력한 스타일이 먼저 적용됨
***************************************************************************************/
body #fp-nav.fp-left {
    left: 40px;
}

/* 검은색일때 */
body #fp-nav::before {
    background-color: rgba(255, 255, 255, 0.5);
}
body #fp-nav ul li .fp-tooltip {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-family: inherit;
    opacity: 1;
    width: auto;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 8px;
    width: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    left: 50%;
    top: 50%;
    margin-top: 2px;
}

body #fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    height: 8px;
    width: 8px;
    margin: 2px 0 0 -2px;
    background-color: #fff;
}
body #fp-nav ul li:last-child { /* footer 동그라미 삭제 */
    display: none;
}
body #fp-nav ul li, body .fp-slidesNav ul li {
    margin: 20px 7px;
}
body #fp-nav ul li:hover .fp-tooltip,body #fp-nav.fp-show-active a.active + .fp-tooltip {
    color: #fff;
}

/* 검은색일때 */
body #fp-nav[data-color='black']::before {
    background-color: #1d1d1d;
}
body #fp-nav[data-color='black'] ul li .fp-tooltip {
    color: #1d1d1d;
}
body #fp-nav[data-color='black'] ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid #1d1d1d;
}
body #fp-nav[data-color='black'] ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav[data-color='black'] ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    background-color: #1d1d1d;
}
body #fp-nav[data-color='black'] ul li:hover .fp-tooltip,body #fp-nav[data-color='black'].fp-show-active a.active + .fp-tooltip {
    color: #1d1d1d;
}

@media screen and (max-width:1320px){
    body #fp-nav.fp-left {
        left: 0;
    }
    body #fp-nav ul li .fp-tooltip {
        font-size: 15px;
    }
    body #fp-nav ul li a.active span, 
    .fp-slidesNav ul li a.active span, 
    #fp-nav ul li:hover a.active span, 
    .fp-slidesNav ul li:hover a.active span {
    height: 7px;
    width: 7px;
    margin: -3px 0 0 -2px;
    background-color: #fff;
    }
    body #fp-nav ul li a span, .fp-slidesNav ul li a span {
        height: 7px;
        width: 7px;
        margin-top: -3px;
    }
}