@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 문미영
    작성일 : 2024.03.14
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
.container {
    margin-top: 150px; /* header의 높이만큼 */
}
@media screen and (max-width:1024px){
    .container {
        margin-top: 100px; /* header의 높이만큼 */
    }
}
@media screen and (max-width:768px){
    .container {
        margin-top: 50px; /* header의 높이만큼 */
    }
}
.visual .swiper { 
    
} /* 팝업의 높이가 됨 */
.visual .swiper-slide img {
    width:100%;
}
.visual .swiper-slide img.popup_m {
    display: none;
}
@media screen and (max-width:1640px){
    .visual .swiper-slide {
        overflow: hidden;
    }
    .visual .swiper-slide img {
        width: 110%;
        transform: translate(-5%, 0);
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    /* 769~1024까지만 적용 */
    /* .visual .swiper-slide {
        position: relative;
        height: 420px;
        overflow: hidden;
    }
    .visual .swiper-slide img {
        position: absolute;
        left: 50%;
        top: 0;
        width: auto;
        height: 420px;
        transform: translate(-50%, 0);
    } */
}

@media screen and (max-width:768px){
    .visual .swiper-slide img {
        width: 100%;
        transform: translate(0, 0);
    }
    .visual .swiper-slide img.popup_pc {
        display: none;
    }
    .visual .swiper-slide img.popup_m {
        display: block;
    }
}

.product {
    margin: 125px 0 160px 0;
}
.product h2 {
    font-family: 'Bright', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}
.product .list ul {
    align-items: flex-end;
}
.product .list ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding: 0 0 50px 0;
}
.product .list ul li a::before {
    position: absolute;
    left: 5px;
    bottom: 7px;
    z-index: -1;
    width: calc(100% - 12px);
    height: 260px;
    background-color: #fff;
    border-radius: 40px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    content: "";
}
.product .list ul li a .photo {
    display: block;
    height: 304px;
}
.product .list ul li a .photo img {
    width: 220px;
    max-width: 90%;
}
.product .list ul li a .tit {
    display: block;
    font-size: 20px;
    margin: 5px 0 10px 0;
}
.product .list ul li a .name {
    display: block;
    font-size: 15px;
    color: #987346;
}
.product .list ul li a .info {
    display: block;
    font-size: 15px;
    margin: 0 35px;
}
.product .list ul li a .info span + span {
    /*
    <span class="info">
        <span></span>
        <span></span> ------ 해당사항 없음
        <span></span> ------ 적용됨
        <span></span> ------ 적용됨
    </span>
    */
}

/* 왼쪽요소 -active */
.product .list ul li.swiper-slide-active a::before {
    height: 295px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    background: linear-gradient(-45deg, #876f53, #b29574);
}
.product .list ul li.swiper-slide-active a,
.product .list ul li.swiper-slide-active a .name  {
    color: #fff;
}
.product .list ul li.swiper-slide-active a .tit {
    font-weight: 700;
}
.product .list ul li.swiper-slide-active a .photo img {
    width: 246px;
    transition: 0.1s;

}
@media screen and (max-width:1024px){
    .product .list ul li a .photo img {
        margin-top: 20px;
    }
    .product .list ul li.swiper-slide-active a .photo img {
        margin-top: 0;
    }
}
@media screen and (max-width:768px){
    .product .list ul li {
        width: 290px;
    }
    .product .list ul li a .photo img {
        margin-top: 0;
    }
    .product .list ul li a .name {
        margin: 0 30px 10px 30px;
    }
    .product .list ul li a .tit {
        margin: 0 30px;
    }
    .product .list ul li a .info {
        display: none;
    }
}


.brand {
    position: relative; /* photo 정렬의 중심 */
    background-color: #FFF4E6;
    height: 651px;
}
.brand .photo {
    position: absolute;
    left: calc(50% - 55px);
    top: 0;
    height: 651px;
    width: calc(50% + 55px);
    overflow: hidden;
    border-radius: 350px 0 0 350px;
}
.brand .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner {
    width: 552px;
    padding: 86px 0 0 0;
}
.brand h2 {
    font-family: 'Bright', serif;
    font-size: 2.941rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 34px;
}
.brand .list ul {
    display: flex;
    margin: 60px 0 0 0;
}
.brand .list ul li {
    margin-right: 25px;
    text-align: center;
}
.brand .list ul li strong {
    margin-top: 10px;
    font-size: 0.882rem;
    display: block;
}
@media screen and (max-width:1640px){
    .brand .photo {
        left: auto;
        right: 0;
        width: calc(100% - 570px)
    }
}
@media screen and (max-width:768px){ 
    .brand .photo {
        border-radius: 280px 0 0 280px
    }
}
@media screen and (max-width:768px){ 
    .brand {
        height: auto;
    }
    .brand .inner {
        width: auto;
        padding: 80px 0 0 0;
        position: relative; /* 이미지 위에 글자가 올라오게 하도록*/
        z-index: 10;
        color: #fff;
    }
    .brand .photo { /* 이미지를 바닥에 깔기 */
        width: 100%;
        height: 105%;
        border-radius: 0;
    }
    .brand .photo::before { /* 이미지에 색 추가 */
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #1d1d1d;
        opacity: 0.7;
        content: "";
    }
    .brand .list ul {
        flex-wrap: wrap;    
        
    }
    .brand .list ul li {
        width: 45%;
        margin-right: auto;
        margin: 2.5%;
        padding: 25px 20px;
        border-radius: 30px;
        background-color: #fff;
        color: #1d1d1d;
    }

    
}

.social {
    margin: 190px 0 110px 0 ;
}
.social .wrapper {
    width: auto;
}

.social h2 {
    font-family: 'Bright', serif;
    font-size: 2.941rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 34px;
    text-align: center;
}
.social .sns ul {
    display: flex;
    justify-content: center;
}
.social .sns ul li {
    display: block;
    margin: 0 10px;
}
.social .sns ul li  {
    display: block;
}
.social .sns ul li a {
    display: block;
    color: #876f53;
    position: relative;
}
.social .sns ul li a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #876f53;
    opacity: 0.5;
    content: "";
}
.social .list {
    margin: 50px 0 0 0;
}
.social .list ul li a {
    display: block;
}
.social .list ul li a .photo {
    position: relative; /* cate 정렬의 기준 */
}
.social .list ul li a .photo img {
    width: 100%;
}
.social .list ul li a .cate {
    position: absolute;
    left: -13px;
    bottom: -10px;
}
.social .list ul li a strong {
    display: block;
    margin: 10px 0 0 0;
    text-align: right;
    font-weight: 700;
    font-family: 'Bright', serif;
}

@media screen and (max-width:768px){ 
    .m_skip {
        display: none;
    }
    .social .list ul li a .cate {
        left: 0;
        width: 22px;
        height: 22px;
    }
}
aside {
    display: block;
    float: right;
    margin: -37px 0 0 0;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    color: #fff;
    background-color: #E80A4D;
    text-align: center;
}
aside button {
    font-size: 1.412rem;
    font-weight: 700;
    padding: 20px 14px 18px 14px;
}
footer {
    background-color: #876f53;
    color: #fff;
}
footer .f_sns ul {
    margin-top: 60px;
    display:flex;
    align-items: center;
    float: right;    
}
footer .f_sns ul li a {
    display: block; 
    margin: 0 20px 0 0;
}

footer .f_link ul {
    display: inline-flex;
    justify-content: left;
}
footer .f_link ul li a {
    display: block;
    font-size: 0.882rem;
    font-weight: 700;
    width: 104px;
    height: 104px;
    border-radius: 100%;
    background-color: #fff;
    color: #854442;
    padding: 49px 29px 0 29px;
    text-align: center;
    margin-top: 40px;
    margin-right: 32px;
    margin-bottom: 40px;
}
footer .f_link ul li a span {
    position: relative;
    display: inline-block;
}
footer .f_link ul li a span::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
footer .f_link ul li.link01 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='27' viewBox='0 0 17 27'%3E%3Cpath id='smartphone_FILL0_wght400_GRAD0_opsz24' d='M202.429-893a2.326,2.326,0,0,1-1.715-.721,2.376,2.376,0,0,1-.713-1.734v-22.091a2.376,2.376,0,0,1,.713-1.733,2.326,2.326,0,0,1,1.715-.721h12.143a2.326,2.326,0,0,1,1.715.721,2.376,2.376,0,0,1,.713,1.733v22.091a2.376,2.376,0,0,1-.713,1.734,2.326,2.326,0,0,1-1.715.721Zm0-3.682v1.227h12.143v-1.227Zm0-2.455h12.143v-14.727H202.429Zm0-17.182h12.143v-1.227H202.429Zm0,0v0Zm0,19.636v0Z' transform='translate(-200 920)' fill='%23854442'/%3E%3C/svg%3E%0A");
    top: -31px;
    left: 15px;
    width: 17px;
    height: 27px;
}
footer .f_link ul li.link02 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='coffee_FILL0_wght400_GRAD0_opsz24' d='M169.333-820a9,9,0,0,1-6.617-2.717A9,9,0,0,1,160-829.333v-8a2.568,2.568,0,0,1,.783-1.883,2.568,2.568,0,0,1,1.883-.783h16.667a4.5,4.5,0,0,1,3.3,1.367,4.5,4.5,0,0,1,1.367,3.3,4.5,4.5,0,0,1-1.367,3.3,4.5,4.5,0,0,1-3.3,1.367h-.667v1.333a9,9,0,0,1-2.717,6.617A9,9,0,0,1,169.333-820Zm-6.667-13.333H176v-4H162.667Zm6.667,10.667a6.425,6.425,0,0,0,4.717-1.95,6.425,6.425,0,0,0,1.95-4.717v-1.333H162.667v1.333a6.425,6.425,0,0,0,1.95,4.717A6.425,6.425,0,0,0,169.333-822.667Zm9.333-10.667h.667a1.929,1.929,0,0,0,1.417-.583,1.929,1.929,0,0,0,.583-1.417,1.929,1.929,0,0,0-.583-1.417,1.929,1.929,0,0,0-1.417-.583h-.667ZM160-816v-2.667h21.333V-816ZM169.333-830.667Z' transform='translate(-160 840)' fill='%23854442'/%3E%3C/svg%3E%0A");
    top: -29px;
    left: 14px;
    width: 24px;
    height: 24px;
}
footer .f_link ul li.link03 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24'%3E%3Cpath id='desktop_windows_FILL0_wght400_GRAD0_opsz24' d='M87.8-816v-2.667h2.6v-2.667H82.6a2.473,2.473,0,0,1-1.836-.783A2.6,2.6,0,0,1,80-824v-13.333a2.6,2.6,0,0,1,.764-1.883A2.473,2.473,0,0,1,82.6-840h20.8a2.473,2.473,0,0,1,1.836.783,2.6,2.6,0,0,1,.764,1.883V-824a2.6,2.6,0,0,1-.764,1.883,2.473,2.473,0,0,1-1.836.783H95.6v2.667h2.6V-816Zm-5.2-8h20.8v-13.333H82.6Zm0,0v0Z' transform='translate(-80 840)' fill='%23854442'/%3E%3C/svg%3E%0A");
    left: 11px;
    top: -29px;
    width: 26px;
    height: 24px;
}
footer .f_nav .privacy {
    font-weight: 700;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
}
footer .f_nav ul li {
    margin: 0 48px 35px 0;
}
footer .f_info {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.882rem;
    padding-bottom: 100px;
}
footer .f_info span {
    margin: 0 35px 0 0;
}

@media screen and (max-width:1024px){ 
    aside button {
        padding: 22px 14px 18px 14px;
    }
    footer .f_link ul li a {
        width: 77px;
        height: 77px;
        padding: 38px 18px 11px 18px;
    }
    footer .f_link ul li.link01 a span::before{
        top: -26px;
        left: 14px;
        width: 13px;
        height: 20px;
    }
    footer .f_link ul li.link02 a span::before{
        top: -22px;
        left: 13px;
        width: 17px;
        height: 17px;
    }
    footer .f_link ul li.link03 a span::before{
        left: 10px;
        top: -21px;
        width: 19px;
        height: 17px;
    }
}
@media screen and (max-width:768px){
    footer .f_sns {
        display: none;
    }
    aside {
        display: none;
    }
}