@media screen and (max-width:1600px){
    footer .wrapper {
        width: 1280px;
        margin: 0 auto;
    }
}
@media screen and (max-width:1320px){
    footer .wrapper {
        width: auto;
        margin: 0 30px;
    }
}
@media screen and (max-width:1024px){
    footer .wrapper {
        margin: 0 20px;
    }
}
@media screen and (max-width:768px){
    footer .wrapper {
        margin: 0 20px;
    }
}

.header {position: fixed; left: 0; top: 0; z-index: 100;  height: 100px; width: 100%;}
.header .inner {display: flex; justify-content: space-between;}
.header .logo {margin-top: 33px; font-size: 0; line-height: 0;}
.header .logo a{width: 171px; height: 33px; display: block; background: url(../images/common/logo.svg) no-repeat center center / contain;}
.header .gnb .gnb_open,.header .gnb .gnb_close {display: none;} /* 모바일에서 나옴 */
.header .gnb ul.depth1 {display: flex; justify-content: space-between; text-align: center;}
.header .gnb ul.depth1 > li {width: 130px;}
.header .gnb ul.depth1 > li > a {display: block; font-size: 20px; line-height: 100px; display: block;}
.header .gnb ul.depth1 > li > a span {position: relative;}
.header .gnb ul.depth1 > li > a:hover span {color: #0054A6; font-weight: 700;}
.header .gnb ul.depth1 > li > a:hover span::before {position: absolute; bottom: -38px; left: 0; width: 100%; height: 3px; background-color: #0054A6; background-position: center center; background-repeat: no-repeat; content: "";}
.header .gnb ul.depth1 > li > a.link {position: relative;}
.header .gnb ul.depth1 > li > a.link::before {position: absolute; top: 38px; right: -20px; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3077 20.5C4.80257 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.3077C3.5 4.80257 3.675 4.375 4.025 4.025C4.375 3.675 4.80257 3.5 5.3077 3.5H11.6153V4.99998H5.3077C5.23077 4.99998 5.16024 5.03203 5.09612 5.09613C5.03202 5.16024 4.99997 5.23077 4.99997 5.3077V18.6923C4.99997 18.7692 5.03202 18.8397 5.09612 18.9038C5.16024 18.9679 5.23077 19 5.3077 19H18.6923C18.7692 19 18.8397 18.9679 18.9038 18.9038C18.9679 18.8397 19 18.7692 19 18.6923V12.3846H20.5V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.3077ZM9.7192 15.3346L8.66538 14.2808L17.9461 4.99998H14V3.5H20.5V9.99998H19V6.0538L9.7192 15.3346Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A"); content: "";}
.header .gnb ul.depth1 > li > a.link:hover::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3077 20.5C4.80257 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.3077C3.5 4.80257 3.675 4.375 4.025 4.025C4.375 3.675 4.80257 3.5 5.3077 3.5H11.6153V4.99998H5.3077C5.23077 4.99998 5.16024 5.03203 5.09612 5.09613C5.03202 5.16024 4.99997 5.23077 4.99997 5.3077V18.6923C4.99997 18.7692 5.03202 18.8397 5.09612 18.9038C5.16024 18.9679 5.23077 19 5.3077 19H18.6923C18.7692 19 18.8397 18.9679 18.9038 18.9038C18.9679 18.8397 19 18.7692 19 18.6923V12.3846H20.5V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.3077ZM9.7192 15.3346L8.66538 14.2808L17.9461 4.99998H14V3.5H20.5V9.99998H19V6.0538L9.7192 15.3346Z' fill='%230054A6'/%3E%3C/svg%3E%0A");}
.header .gnb ul.depth2 {width: 100%; height: 70px; font-size: 15px; display: none; margin-top: 24px; white-space:nowrap;}
.header .gnb ul.depth2.on {display: flex;}  
.header .gnb ul.depth2 > li > a {display: block; margin-right: 33px;}
.header .gnb ul.depth2 > li > a span {position: relative;}
.header .gnb ul.depth2 > li > a:hover span {font-weight: 700; color: #0054A6;}
.header .gnb ul.depth2 > li > a:hover span::before {position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #0054A6; background-position: center center; background-repeat: no-repeat; content: "";}
.header .search_gruop {margin: 35px 0;}
.header .search_gruop .search {max-width: 182px; width: 100%; height: 33px; border: 1px solid #1d1d1d; border-radius: 20px; margin: 0 auto; position: relative; padding: 0 0 0 10px; display: flex; align-items: center;}
.header .search_gruop .search label {display: none; /* 숨김 */}
.header .search_gruop .search input[type="text"] {
    font-size: 15px;
    color: #1d1d1d;
    width: calc(100% - 100px);
    border: 0;
    outline: 0; /* 입력할때 생기는 테두리 */ 
}
.header .search_gruop .search input[type="text"]::placeholder {color: #aaa; width: 100%; font-size: 15px;}
.header .search_gruop .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51916 15.6153C7.81148 15.6153 6.36533 15.023 5.18073 13.8384C3.99612 12.6538 3.40381 11.2077 3.40381 9.49999C3.40381 7.79231 3.99612 6.34616 5.18073 5.16154C6.36533 3.97694 7.81148 3.38464 9.51916 3.38464C11.2268 3.38464 12.673 3.97694 13.8576 5.16154C15.0422 6.34616 15.6345 7.79231 15.6345 9.49999C15.6345 10.2141 15.5147 10.8961 15.2749 11.5461C15.0352 12.1961 14.7153 12.7615 14.3153 13.2423L20.0692 18.9961C20.2076 19.1346 20.2784 19.3087 20.2816 19.5183C20.2849 19.7279 20.214 19.9051 20.0692 20.05C19.9243 20.1948 19.7486 20.2673 19.5422 20.2673C19.3358 20.2673 19.1602 20.1948 19.0153 20.05L13.2615 14.2961C12.7615 14.7089 12.1865 15.032 11.5365 15.2653C10.8865 15.4987 10.214 15.6153 9.51916 15.6153ZM9.51916 14.1154C10.8076 14.1154 11.899 13.6683 12.7932 12.774C13.6874 11.8798 14.1346 10.7885 14.1346 9.49999C14.1346 8.21153 13.6874 7.12018 12.7932 6.22594C11.899 5.33171 10.8076 4.88459 9.51916 4.88459C8.23069 4.88459 7.13934 5.33171 6.24511 6.22594C5.35089 7.12018 4.90378 8.21153 4.90378 9.49999C4.90378 10.7885 5.35089 11.8798 6.24511 12.774C7.13934 13.6683 8.23069 14.1154 9.51916 14.1154Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    margin-left: 30px;}