@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 이찬우
    작성일 : 2024.04.11
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
@media screen and (max-width:1600px){
    section .wrapper {
        width: 1280px;
        margin: 0 auto;
    }
}
@media screen and (max-width:1320px){
    section .wrapper {
        width: auto;
        margin: 0 30px;
    }
}
@media screen and (max-width:1024px){
    section .wrapper {
        margin: 0 20px;
    }
}
@media screen and (max-width:768px){
    section .wrapper {
        margin: 0 20px;
    }
}

.visual {background-color: #ccc; height: 3000px;}